* {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #000;
}

div, canvas {
	position: absolute;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

canvas {
	pointer-events: none;
}

#pixelCanvas {
	image-rendering: pixelated;
}

#uiDiv {
	font-family: emoji, Arial;
	font-size: 64px;
}

/*#mainDiv {
	background-color: #666;
}*/

/*#gameDiv {
	text-align: center;
}*/

.button {
	position: relative;
	font-family: emoji, Arial;
	font-size: 64px;
	width: 75px;
	margin: 9px;
}

@font-face {
	font-family: emoji;
	src: url(./assets/Twemoji.ttf);
	/* src: url(https://www.foumartgames.com/dev/js13kGames/resources/Twemoji.ttf); */
}
